/* media query for width of 680px or higher */
@media screen and (min-width:680px){
	
	/***********************
		MEDIA: NAVIGATION
	*************************/
	/* navigation bar */
	.navbar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/* banner element for logo */
	div.navbar-header .navbar-brand{
		font-size: 1.8em;
	}

	.navbar .container-fluid .navbar-header a.navbar-brand{
		margin-left: 45px;
	}
	/* spotify logo image */
	.spotify-logo{
		height:40px;
		width: 40px;
	}

#myCarousel .carousel-inner div.item{
	background: -webkit-linear-gradient(left,rgba(255, 0, 50,.6),rgba(50, 0, 255,.6)); /*Safari 5.1-6*/
}
.carouselh1{
	font-size: 7em;
	margin-top: 0;
	 margin-left: 45px; 
	 opacity: 1;
	}
.button{
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	height: 45px;
	width: 225px;
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 30px;
}
}